.te-dijitDialog {
padding: 9px 11px 0 0;
position: absolute;
z-index: 999;
display: block;
/**overflow: auto;**/
}
.te-dijitDialogCloseIcon {
background: url("/_TEincludes/ver/949/TEimages/leapfrog/close_overlay.png") no-repeat scroll right top transparent;
cursor: pointer;
width: 28px;
height: 28px;
position: absolute;
right: 0;
top: 0;
vertical-align: middle;
}
.te-dijitDialogCloseIcon:hover {
background: url("/_TEincludes/ver/949/TEimages/leapfrog/close_overlay-hover.png") no-repeat scroll right top transparent;
}
.te-dijitDialog-TopLeftCorner, .te-dijitDialog-TopRightCorner, .te-dijitDialog-BottomLeftCorner, .te-dijitDialog-BottomRightCorner {
height: 8px;
width: 8px;
}
.te-dijitDialog-TopBorder, .te-dijitDialog-BottomBorder {
height: 8px;
}
.te-dijitDialog-TopLeftCorner, .te-dijitDialog-TopRightCorner, .te-dijitDialog-BottomLeftCorner, .te-dijitDialog-BottomRightCorner {
background: url("/_TEincludes/ver/949/TEimages/dojoOverlay-corners.png") no-repeat scroll 0 0 transparent;
}
.te-dijitDialog-TopLeftCorner {
background-position: 0 0;
}
.te-dijitDialog-TopRightCorner {
background-position: -8px 0;
}
.te-dijitDialog-BottomLeftCorner {
background-position: 0 -8px;
}
.te-dijitDialog-BottomRightCorner {
background-position: -8px -8px;
}
.te-dijitDialog-ContentContainer {
background: none repeat scroll 0 0 #ffffff;
padding:0 10px 10px;
}
.te-dijitDialog-TopBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoOverlay-top-repeater.png") repeat-x scroll 0 0 transparent;
margin: 0 8px;
}
.te-dijitDialog-BottomBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoOverlay-bottom-repeater.png") repeat-x scroll 0 0 transparent;
margin: 0 8px;
}
.te-dijitDialog-LeftBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoOverlay-left-repeater.png") repeat-y scroll 0 0 transparent;
margin: 8px 0;
}
.te-dijitDialog-RightBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoOverlay-right-repeater.png") repeat-y scroll 0 0 transparent;
margin: 8px 0;
}
.te-dijitDialog-clickable-title-bar {
cursor:move;
height:20px;
}
/*Dark Gray Overlay, with white text and brighter color links*/
.gray-overlay .te-dijitDialog-TopLeftCorner, .gray-overlay .te-dijitDialog-TopRightCorner, .gray-overlay .te-dijitDialog-BottomLeftCorner, .gray-overlay .te-dijitDialog-BottomRightCorner {
background-image: url("/_TEincludes/ver/949/TEimages/dojoGrayOverlay-corners.png") !important;
}
.gray-overlay .te-dijitDialog-TopBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoGrayOverlay-top-repeater.png") repeat-x scroll 0 0 transparent !important;
}
.gray-overlay .te-dijitDialog-LeftBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoGrayOverlay-left-repeater.png") repeat-y scroll 0 0 transparent !important;
}
.gray-overlay .te-dijitDialog-RightBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoGrayOverlay-right-repeater.png") repeat-y scroll 0 0 transparent !important;
}
.gray-overlay .te-dijitDialog-BottomBorder {
background: url("/_TEincludes/ver/949/TEimages/dojoGrayOverlay-bottom-repeater.png") repeat-x scroll 0 0 transparent !important;
}
.gray-overlay .te-dijitDialog-ContentContainer {
background: none repeat scroll 0 0 #444444 !important;
color: #ffffff !important;
}
.gray-overlay .te-dijitDialog-ContentContainer p, .gray-overlay .te-dijitDialog-ContentContainer div {
background-color: transparent;
border-radius: 0 0 0 0;
border-top: 0 none;
box-shadow: none;
color: #FFFFFF;
}
.gray-overlay .te-dijitDialog-ContentContainer span {
background-color: transparent;
border-top: medium none;
color: #FFFFFF;
}
.gray-overlay .te-dijitDialog-ContentContainer a {
color: #3399cc !important;
font-weight: bold !important;
}
.gray-overlay .te-dijitDialog-ContentContainer a:hover {
color: #ee7722 !important;
}
.gray-overlay .te-dijitDialog-ContentContainer form .field {
float: left;
padding-top: 12px;
}
.gray-overlay .te-dijitDialog-ContentContainer form .field label {
float: left;
font-size: 11px;
font-weight: bold;
padding-bottom: 5px;
padding-left: 0;
}
.gray-overlay .te-dijitDialog-ContentContainer form .field input.text {
background-color: #EEEEEE;
border: 0 none;
border-radius: 0.5em 0.5em 0.5em 0.5em;
float: left;
font-size: 14px;
height: 20px;
padding: 3px;
width: 300px;
}
.gray-overlay .te-dijitDialog-ContentContainer .width-300 form .field input.text {
width: 260px !important;
}
.te-dijitDialog-tail {
background-color: #EE7722;
border-radius: 0 0 0.5em 0.5em;
-webkit-border-radius: 0 0 0.5em 0.5em;
-moz-border-radius: 0 0 0.5em 0.5em;
box-shadow: 0 0 5px #555555;
-moz-box-shadow: 0 0 5px #555555;
-webkit-box-shadow: 0 0 5px #555555;
clear: left;
color: #FFFFFF;
cursor:pointer;
font-family: verdana,arial;
font-size: 12px;
font-weight: bold;
margin: -3px 15px 5px;
padding: 12px;
text-align: center;
behavior: url("/_TEincludes/ver/949/TEstylesheets/PIE.htc");
}
.te-dijitDialog-tail .tail-contents {
color: #ffffff;
}
.te-dijitDialog-tail:hover {
background-color: #3399cc;
}
.te-dijitDialog-tail a {
color:#ffffff !important;
}
.te-dijitDialog-tail a:hover {
color:#ffffff !important;
text-decoration: none !important;
}
.te-dijitDialog-tail span {
background: url("/_TEincludes/ver/949/TEimages/white-cta-arrow.png") no-repeat center right transparent;
padding-right:22px;
}
.te-dijitDialog-tail span.go-back {
background: url("/_TEincludes/ver/949/TEimages/white-cta-arrow-go-back.png") no-repeat scroll left center transparent;
padding-left: 22px;
}
.gray-overlay .interceptor-center {
background-color: #444444 !important;
border-radius: 0em 0em 0em 0em;
-webkit-border-radius: 0em 0em 0em 0em;
-moz-border-radius: 0em 0em 0em 0em;
box-shadow: 0 0 0px transparent;
-moz-box-shadow: 0 0 0px transparent;
-webkit-box-shadow: 0 0 0px transparent;
color: #FFFFFF !important;
opacity: 1;
}
.gray-overlay .interceptor-center h2 {
color: #FFFFFF;
font-family: gotham book,verdana,arial;
font-size: 22px;
font-weight: normal;
}
.gray-overlay .dijitContentPane .interceptor-center, .dijitContentPane .gray-overlay .interceptor-center {
background-color: #444444;
color: #FFFFFF;
opacity: 1;
}