@charset "utf-8";
/* CSS Document */

h2 { font-size:12px; color:#006c90; font-weight:bold; padding:3px 3px 8px 3px; margin:0 auto}
.quote-table h2 { font-size:12px; color:#006c90; font-weight:bold; padding:3px 3px 8px 3px; margin:0 auto}
.compliance {border-bottom:1px solid #CCCCCC; padding-bottom:10px;}
.chart{margin-top:5px; margin-left:20px;}
.product_description {margin-left:20px; padding:0;}
.getStatement { background-image:url('/_TEincludes/TEimages/getStatement.gif'); padding:0 0 0 28px; }

.compliance_table th {  border-top:#C6A765;   background-color: #E4EEF4;}
.compliance_table  td {  border-top: solid 1px #dddddd;  padding:3px; }
.right_border { border-right:solid 1px #dddddd}

.compliance_table {border:1px solid black}